
html, body {
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем внутренние отступы */
  width: 100%; /* Устанавливаем ширину на 100% */
  height: 100%; /
}
.line {
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
}
.input-find {
  width: 80%;
  height: 30px;
}
.button-find {
  width: 100px;
  height: 35px;
}
.clear {
  height: 35px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(203, 203, 203, 0.5);
  padding: 20px;
}
.modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  display: flex;
  flex-direction: column;
  
  
}
.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  width: 20px;
  
}
.save-button{
width: 100px;
margin-top: 10px;
align-self: flex-end;
}
.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid rgb(219, 52, 197);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  background-color: rgb(241, 225, 241);
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button[data-size="small"] {
  padding: 5px 10px;
  font-size: 12px;
}

button[data-size="medium"] {
  padding: 8px 15px;
  font-size: 14px;
}

button[data-color="primary"] {
  background-color: rgb(80, 80, 128);
  color: white;
  border: none;
}

button[data-color="correct"] {
  background-color: rgb(156, 76, 156);
  color: white;
  border: none;
}
button[data-color="delete"] {
  background-color: rgb(128, 57, 57);
  color: white;
  border: none;
}

button[data-color="clear"] {
  background-color: rgb(21, 11, 11);
  color: white;
  border: none;
}

input[data-size="medium"] {
  background-color: hotpink;
  font-size: 14px;
}
.container_todo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#myBtn{
  margin-left: 30px;
  margin-top: 10px;
  background-color: aliceblue;
  border: 1px solid rgb(163, 176, 188);
  height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-find, .input-create {
  margin-left: 30px;
}
.create-button{
   background-color: aliceblue;
  border: 1px solid rgb(163, 176, 188);
  height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input-create{
  height: 25px;
}
.button-find{
   background-color: aliceblue;
  border: 1px solid rgb(163, 176, 188);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cont_for_btn{
  display: flex;
  margin-right: 10px;
  gap: 10px;
}
.mini_container{
  display: flex;
  width: 70%;
  margin-left: 30px;
}
.input-modal{
  height: 26px;
}
